# Database configuration
DATABASE_URL=postgresql+asyncpg://neondb_owner:npg_bG9HqmYs3VvN@ep-billowing-tooth-a4i69vmm-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require

# Qdrant configuration
QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION=research_papers
VECTOR_SIZE=768

# # LLM configuration
LLM_TYPE=ollama  # gemini, ollama or deepseek

OLLAMA_API_KEY=1d6df6e9dec543c5a07d8cb2f610a7a2.bjjO_rEW0WQtLRsVXLMNl6hY
# Embedding model
EMBEDDING_MODEL=all-MiniLM-L6-v2
# deepseek-v3.1:671b